# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env

# Google service account credentials
*.json
!package.json
!package-lock.json
!tsconfig.json
!stores.json
!vercel.json

# OS files
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/

# Kiro
.kiro/
.vercel
